<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabasePath" value="C:\Users\jting\Documents\Code\DegreeTracker\\db.sqlite" />
		<add key="ConnectionString" value="Data Source=db.sqlite" />
		<add key="PCPath" value="C:\Users\jting\Documents\Code\DegreeTracker" />
	</appSettings>
</configuration>